@use "../foundation/variables";

.l-header {
  display: flex;
  padding-left: 60px;
  height: 64px;
  background: rgba(255, 255, 255, 0.7);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .l-header__hamburger {
    font-size: 0;
  }

  .l-header__nav {
    .l-header__nav-list {
      display: flex;
      align-items: center;

      .l-header__nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        width: 104px;
        height: 64px;

        &:hover {
          background-color: variables.$color-white;
          color: variables.$color-text;
        }

        &--contact {
          background-color: variables.$color-gray;
          color: variables.$color-white;
          width: 120px;

          &:hover {
            background-color: variables.$color-accent;
            color: variables.$color-white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: variables.$bp-tab) {
  .l-header {
    padding-left: 27px;
  }
}

@media screen and (max-width: variables.$bp-sp) {
  .l-header {
    padding-left: 20px;
    height: 56px;
    position: fixed;

    .l-header__nav {
      width: 67.2%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      position: fixed;
      top: 0;
      right: -67.2%;
      z-index: 10;
      transition: all 0.6s;

      &.is-active {
        right: 0;
      }

      .l-header__nav-list {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        padding: 99px 0;
        overflow: 0;

        .l-header__nav-item {
          width: 172px;
          height: 59px;
          padding: 16px 32px;

          &--contact {
            width: 172px;
            height: 59px;
            padding: 16px 32px;
          }
        }
      }
    }

    .l-header__hamburger {
      display: flex;
      width: 56px;
      height: 56px;
      padding: 0 16px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: fixed;
      top: 0;
      right: 0;
      background-color: variables.$color-gray;
      z-index: 20;

      span {
        position: relative;
        inline-size: 24px;
        block-size: 2px;
        background-color: variables.$color-white;
        transition: all 0.4s;
        transform: translateY(0);

        &::before,
        &::after {
          content: "";
          position: absolute;
          inline-size: 24px;
          block-size: 2px;
          left: 0;
          background-color: variables.$color-white;
          transition: all 0.4s;
        }

        &::before {
          top: -8px;
        }
        &::after {
          top: 8px;
        }
      }

      &.is-active {
        span {
          background-color: transparent;

          &::before {
            top: 0;
            transform: rotate(35deg);
          }
          &::after {
            top: 0;
            transform: rotate(-35deg);
          }
        }
      }
    }
  }
}
