@use "../../foundation/variables";

.swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination {
  padding-bottom: 32px !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 16px !important;
  margin-right: 0 !important;
  background-color: variables.$color-white;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);

  &:first-child {
    margin-left: 0 !important;
  }

  &-active {
    background-color: variables.$color-gray;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  &:after {
    font-size: 16px;
    color: variables.$color-gray;
  }
}

@media screen and (max-width: variables.$bp-sp) {
  .swiper-pagination {
    padding-bottom: 10px !important;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 13px !important;
    margin-right: 0 !important;
  }
}
